@import "@style/main.scss";

.user {

  &__info {
    display: grid;
    grid-template-columns: 1fr 9fr;
    padding-bottom: 15px;
    border-bottom: 1px solid $border-color;

    & img {
      height: 250px;
    }

    &_main {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 25px 0 0 25px;

      &_heading {
        display: flex;
        justify-content: space-between;
      }
    }

    &_name {
      font-size: 40px;
      font-weight: 600;
      color: darken($login-text-color, 20%)
    }

    &_position {
      font-size: 24px;
      font-weight: 500;
      color: darken($login-text-color, 10%);
    }

    &_text {
      font-size: 14px;
      color: darken($login-text-color, 15%);
    }

    &_contacts {
      font-size: 14px;
      color: $login-text-color;

      &_block {
        display: flex;
        max-width: 30vw;
        justify-content: space-between;

        & div {
          margin-right: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .user {

    &__info {
      display: block;
    }
  }
}