@import "@style/main.scss";

.modal {
  height: 50px;

  &__heading {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    color: darken($main_background_color, 73%);;
  }
}