@import "@style/main.scss";

.login {
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  padding: 20px;
  position: relative;
  background-image: url("./assets/signup-bg.jpg");
  background-position: center;

  &__logo {
    height: 46px;
    background-image: url("./assets/logo_dark.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__wrap-form {
    min-width: 360px;
    padding: 10px;
    position: absolute;
    top: 35%;
    left: 40%;
    background-color: $main_background_color;
    border: 1px solid $border-color;
    border-radius: 3px;
    box-shadow: 0 5px 24px 3px $login-text-color;

    &_heading {
      display: flex;
      justify-content: space-between;
      margin: 20px 0 30px;
      align-items: center;
      color: $login-text-color;

      & h3 {
        margin: 0;
      }
    }

    &_svg {
      width: 44px;
      height: 44px;
      fill: $login-text-color;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    & .MuiTextField-root {
      margin-bottom: 10px;
    }
  }
}